{% extends "base.html" %}

{% block content %}
<main>
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card shadow" style="border-radius: 15px;">
        <div class="card-body p-5">
          <form action="{{ url_for('login') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <h2 class="text-center mb-4">Log In</h2>
            <div class="mb-2">
              {{ form.username(size=64, class="form-control form-control-md", id="username")}}
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="mb-2">
                {{ form.password(size=64, class="form-control form-control-md", id="password")}}
                <label class="form-label" for="password">Password</label>
              </div>

            <div class="form-check">
                {{ form.remember_me(size=64, class="form-check-input", id="remember_me")}}
                <label class="form-check-label" for="remember_me">Remember me</label>
            </div>

            <div class="d-flex justify-content-center">
              {{ form.submit(size=64, class="btn btn-outline-primary btn-lg")}}
            </div>
            <p class="text-center mt-3">Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}