  <div class="card mb-2">
      <div class="card-body d-flex align-items-start">
        <img  src="{{url_for('static', filename='images/{}'.format(post.author.dp))}}" class="rounded-circle mr-3" width="50" height="50" alt="Profile Image">
        <div>
          <h5 class="card-title font-weight-bold px-1"><a href="{{ url_for('user', username=post.author.username) }}">{{post.author.username}}</a></h5>
          <p class="card-subtitle text-muted px-1">{{post.timestamp.strftime('%d %B %Y %I:%M %p')}}</p>
          <p class="card-text lead my-1">{{post.title}}</p>
          <img src="{{url_for('static', filename='images/{}'.format(post.image))}}" class="img-fluid" alt="Post Image">
          <!-- <img src="{{url_for('static', filename='images/{{ post.image }}')}}" class="img-fluid" alt="Post Image"> -->
          <p class="card-text mt-3">{{post.body}}</p>
          <!-- <div class="d-flex justify-content-between align-items-center"> -->
            <div class="d-flex flex-row justify-content-between">
              <div class="div">
                <a href="{{url_for('like', post_id=post.id)}}"><i class="fa-sharp fa-solid fa-thumbs-up"></i></a>
                <b> {{post.likes | length}} </b>
                <a href="{{url_for('unlike', post_id=post.id)}}"><i class="fa-solid fa-thumbs-down"></i></a>
              </div>
              <div>
                <a class="btn--outline-secondary" href="{{ url_for('comment', post_id=post.id)}}"><i class="fa-solid fa-comment"></i></a>
              <b>{{post.comments | length}}</b>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

